<aside class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left cbp-spmenu-open" id="cbp-spmenu-s1" >
  <nav class="navarea" >
    <ul>
      <li class="<%= is_active?('/') %>">
        <%= link_to "Home", '/', :class=> "fa fa-home" %>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"> </i><span>Liked Events</span>
        </a>
      </li>
      <li>
        <a href="grid-view.html">
          <i class="fa fa-caret-square-o-right" aria-hidden="true"></i><span>Khatabs</span>
        </a>
      </li>
      <li>
        <a href="islamic-books-libaray.html">
          <i class="fa fa-history" aria-hidden="true"> </i><span>Islamic Books</span>
        </a>
      </li>
      <li>
        <a href="lyireus-naats.html">
          <i class="fa fa-history" aria-hidden="true"></i><span>Naats</span>
        </a>
      </li>
    </ul>
  </nav>
</aside> 