<div class="towcolumns">
  <aside class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left cbp-spmenu-open" id="cbp-spmenu-s1" >
    <nav class="navarea" >
      <ul>
        <li>
          <a href="index.html">
            <i class="fa fa-home" aria-hidden="true"> </i><span class="side-nave-span">Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-users" aria-hidden="true"> </i><span>Liked Events</span>
          </a>
        </li>
        <li>
          <a href="grid-view.html">
            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i><span>Khatabs</span>
          </a>
        </li>
        <li>
          <a href="islamic-books-libaray.html">
            <i class="fa fa-history" aria-hidden="true"> </i><span>Islamic Books</span>
          </a>
        </li>
        <li>
          <a href="lyireus-naats.html">
            <i class="fa fa-history" aria-hidden="true"></i><span>Naats</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="palyer-container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12 p-right-0">
          <form class="form-inline search-form">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search">
                <div class="input-group-addon">
                  <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </form>
          <div class="lyireus-wrap">
            <h1>The Kapil Sharma Show -दी कपिल शर्मा शो-Ep-42-Arijit Singh in Kapil's Show–11th Sep 2016</h1>
            <div class="tabs-holder">
              <ul class="tabs-list">
                <li>
                  <a href="" class="show-form active" data-target="t1">Naat Lyrics</a>
                </li>
                <li id="services_tab2">
                  <a href="" class="show-form" data-target='t2'>Video Naat</a>
                </li>
                <li id="services_tab3">
                  <a href="" class="show-form" data-target='t3'>Audio Naat</a>
                </li>
              </ul>
              <div class="tabs-content">
                <div class="collapse" data-target='t1'>
                  <div class="lyireus-image-block">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h2>Urdu</h2>
                  
                      <div class="image-holder">
                        <img src="images/image1.png" class="img-responsive">
                        <div class="btn-area">
                          <button type="button" class="btn-download">Download</button>
                          <button type="button" class="btn-perview">Perview</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h2>English</h2>
                      <div class="image-holder">
                        <img src="images/image1.png" class="img-responsive">
                        <div class="btn-area">
                          <button type="button" class="btn-download">Download</button>
                          <button type="button" class="btn-perview">Perview</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <h2>Arbi</h2>
                      <div class="image-holder">
                        <img src="images/image1.png" class="img-responsive">
                        <div class="btn-area">
                          <button type="button" class="btn-download">Download</button>
                          <button type="button" class="btn-perview">Perview</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="collapse" data-target='t2'>
                  <div class="col-md-12 col-sm-12 col-xs-12 trending-wrap">
                    <div class="border-bottom">
                      <h2>Featured Videos</h2>
                      <nav class="all-videos">
                        <ul class="row">
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <div class="border-bottom">
                      <h2>Video Set 1</h2>
                      <nav class="all-videos">
                        <ul class="row">
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <div class="border-bottom">
                      <h2>Video Set 2</h2>
                      <nav class="all-videos">
                        <ul class="row">
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                          <li class="col-md-3 col-sm-6 col-xs-12">
                            <div class="video-all">
                              <a href="#">
                                <div class="image-holder">
                                  <img src="images/image1.png" class="img-responsive" alt="">
                                  <em class="time">3:00</em>
                                </div>
                                <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                <em class="date">46,517,205 views  •  1 year ago</em> 
                              </a>
                            </div>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                         
                </div>
                <div class="collapse" data-target='t3'>
                  <ul class="audio-list">
                    <li>
                      <div class="sound__artwork">
                        <a class="sound__coverArt" href="#">
                          <img src="images/home_bg.png">
                        </a>
                      </div>
                      <div class="sound__content">
                        <div class="sound__header">
                          <div class="playbutton-area">
                            <a  href="" class="button-play">Play</a>
                            <a class="title" href="#">
                             Main To Ummati hun By Junaid Jamshed 2016 naat nasheed
                            </a>
                          </div>
                        </div>
                        <div class="sceneLayer">
                        </div>
                        <form class="conment-form">
                          <div class="commentForm__wrapper ">
                            <textarea class="form-control" rows="1" placeholder="Write a comment"></textarea>
                          </div>
                          <div class="social-area">
                            <div class="btn-area">
                              <button type="button" class="btn-conment"><img src="images/heart-icon.svg"> 1212</button>
                              <button type="button" class="btn-conment"><img src="images/share-icon.svg"> 1212</button>
                              <button type="button" class="btn-conment"><img src="images/status.svg"> Share</button>
                            </div>
                            <div class="status-area">
                              <a href="#"><img src="images/play-status-icon.svg">122</a>
                              <a href="#"><img src="images/comment-icon.svg">122</a>
                            </div>
                           
                          </div>
                        </form> 
                      </div> 
                    </li>
                    <li>
                      <div class="sound__artwork">
                        <a class="sound__coverArt" href="#">
                          <img src="images/home_bg.png">
                        </a>
                      </div>
                      <div class="sound__content">
                        <div class="sound__header">
                          <div class="playbutton-area">
                            <a  href="" class="button-play">Play</a>
                            <a class="title" href="#">
                             Main To Ummati hun By Junaid Jamshed 2016 naat nasheed
                            </a>
                          </div>
                        </div>
                        <div class="sceneLayer">
                        </div>
                        <form class="conment-form">
                          <div class="commentForm__wrapper ">
                            <textarea class="form-control" rows="1" placeholder="Write a comment"></textarea>
                          </div>
                          <div class="social-area">
                            <div class="btn-area">
                              <button type="button" class="btn-conment"><img src="images/heart-icon.svg"> 1212</button>
                              <button type="button" class="btn-conment"><img src="images/share-icon.svg"> 1212</button>
                              <button type="button" class="btn-conment"><img src="images/status.svg"> Share</button>
                            </div>
                            <div class="status-area">
                              <a href="#"><img src="images/play-status-icon.svg">122</a>
                              <a href="#"><img src="images/comment-icon.svg">122</a>
                            </div>
                           
                          </div>
                        </form> 
                      </div> 
                    </li>
                    <li>
                      <div class="sound__artwork">
                        <a class="sound__coverArt" href="#">
                          <img src="images/home_bg.png">
                        </a>
                      </div>
                      <div class="sound__content">
                        <div class="sound__header">
                          <div class="playbutton-area">
                            <a  href="" class="button-play">Play</a>
                            <a class="title" href="#">
                             Main To Ummati hun By Junaid Jamshed 2016 naat nasheed
                            </a>
                          </div>
                        </div>
                        <div class="sceneLayer">
                        </div>
                        <form class="conment-form">
                          <div class="commentForm__wrapper ">
                            <textarea class="form-control" rows="1" placeholder="Write a comment"></textarea>
                          </div>
                          <div class="social-area">
                            <div class="btn-area">
                              <button type="button" class="btn-conment"><img src="images/heart-icon.svg"> 1212</button>
                              <button type="button" class="btn-conment"><img src="images/share-icon.svg"> 1212</button>
                              <button type="button" class="btn-conment"><img src="images/status.svg"> Share</button>
                            </div>
                            <div class="status-area">
                              <a href="#"><img src="images/play-status-icon.svg">122</a>
                              <a href="#"><img src="images/comment-icon.svg">122</a>
                            </div>
                           
                          </div>
                        </form> 
                      </div> 
                    </li>
                  </ul> 
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 text-right">
          <ul class="video-list">
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>
                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>
                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="row">
                  <div class="col-xs-4 col-md-4 p-right-0">
                    <img src="images/video-list-item.png" class="img-responsive">
                     <em class="time">40:00</em>

                  </div>
                  <div class="col-xs-8 col-md-8  text-left">
                   <strong class="video-title">Heart shaped leaf floating</strong>
                    <p>by Every Interaction</p>
                    <em class="view-time">324 views   18 hours ago</em>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>