<div class="single-pro-review-area mt-t-30 mg-b-15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="product-payment-inner-st">
          <div class="events-tab-scroll">
            <ul id="myTabedu1" class="tab-review-design">
              <li class="active"><a href="#eventdetails">Event Details</a></li>
              <li><a href="#adderss">  Adderss Information</a></li>
              <li><a href="#social">Social Information</a></li>
              <li><a href="#spicilyspeech">Spicily Speech</a></li>
              <li><a href="#StartingSpeekar">Starting Speekar</a></li>
              <li><a href="#speekar">Speekar</a></li>
              <li><a href="#specialguest">Special Guest</a></li>
              <li><a href="#Vocalist">Vocalist</a></li>
            </ul>
          </div>
          <div id="myTabContent" class="tab-content custom-product-edit">
            <div class="product-tab-list tab-pane fade active in" id="eventdetails"> 
               <%= render partial:"events/forms/eventdetails_block" %>
            </div>
            <div class="product-tab-list tab-pane fade" id="adderss">
              <%= render partial:"events/forms/address_block" %>
            </div>
            <div class="product-tab-list tab-pane fade" id="social">
              <%= render partial:"events/forms/social_block" %>
            </div>
            <div class="product-tab-list tab-pane fade" id="spicilyspeech">
              <%= render partial:"events/forms/spicilyspeech_block" %>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  
#dropzone1  input[type="file"] {
      display: block;
    height: 180px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#demo1-upload {
  position: relative;
  float: left;
  width: 100%;
}
.imageThumb {
  max-height: 200px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
  width: 100%;
  background-size: cover;
}
.pip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
}

</style>


z
<script>
    var $imageupload = $('.imageupload');
    $imageupload.imageupload();

    $('#imageupload-reset').on('click', function() {
        $imageupload.imageupload('reset');
        $(this).blur();
    });
</script>


