<nav id="sidebar" class="">
  <div class="sidebar-header">
    <a href="index.html">
    <%= image_tag 'logo/logo.png', :class => 'main-logo' %>
    </a>
    <strong>
    <a href="index.html">
    <%= image_tag 'logo/logosn.png'%>
    </a>
    </strong>
  </div>
  <div class="left-custom-menu-adp-wrap comment-scrollbar">
    <nav class="sidebar-nav left-sidebar-menu-pro">
      <ul class="metismenu" id="menu1">
        <li>
          <a title="Landing Page" href="http://localhost:3000/users" aria-expanded="false">
            <span class="educate-icon educate-home icon-wrap sub-icon-mg" aria-hidden="true"></span> 
             <span class="mini-click-non">Home</span>
           </a>
        </li>
        <li>
          <a title="Landing Page" href="http://localhost:3000/events/" aria-expanded="false">
            <span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> 
             <span class="mini-click-non">All Events</span>
           </a>
        </li>
        <li>
          <a class="has-arrow" href="index.html">
          <span class="fa fa-pencil"></span>
          <span class="mini-click-non">New Event</span>
          </a>
          <ul class="submenu-angle" aria-expanded="true">
            <li><a title="Dashboard v.1" href="http://localhost:3000/events/eventsdetails"><span class="mini-sub-pro">Events Details</span></a></li>
            <li><a title="Dashboard v.2" href="http://localhost:3000/events/eventaddress"><span class="mini-sub-pro">Events Address</span></a></li>
            <li><a title="Dashboard v.3" href="http://localhost:3000/events/"><span class="mini-sub-pro">Events Social Webiste</span></a></li>
            <li><a title="Analytics" href="analytics.html"><span class="mini-sub-pro">Spicily Speech</span></a></li>
            <li><a title="Widgets" href="widgets.html"><span class="mini-sub-pro">Speekar </span></a></li>
            <li><a title="Widgets" href="widgets.html"><span class="mini-sub-pro">Starting Speekar </span></a></li>
            <li><a title="Widgets" href="widgets.html"><span class="mini-sub-pro">Special Guest</span></a></li>
            <li><a title="Widgets" href="widgets.html"><span class="mini-sub-pro">Vocalist </span></a></li>
            <li><a title="Widgets" href="widgets.html"><span class="mini-sub-pro">Sponsor </span></a></li>

          </ul>
        </li>
        <li>
          <a class="has-arrow" href="index.html">
          <span class="educate-icon educate-charts icon-wrap"></span>
          <span class="mini-click-non">Event Analytics</span>
          </a>
          <ul class="submenu-angle" aria-expanded="true">
            <li><a title="Dashboard v.1" href="index.html"><span class="mini-sub-pro">Dashboard v.1</span></a></li>
            <li><a title="Dashboard v.2" href="index-1.html"><span class="mini-sub-pro">Dashboard v.2</span></a></li>
            <li><a title="Dashboard v.3" href="index-2.html"><span class="mini-sub-pro">Dashboard v.3</span></a></li>
            <li><a title="Analytics" href="analytics.html"><span class="mini-sub-pro">Analytics</span></a></li>
            <li><a title="Widgets" href="widgets.html"><span class="mini-sub-pro">Widgets</span></a></li>
          </ul>
        </li>
        <li>
          <a href="http://localhost:3000/events/">
            <span class="educate-icon educate-miscellanous icon-wrap"></span> 
            <span class="mini-click-non"> Request Status</span>
           </a>
        </li>
        <li>
          <a href="http://localhost:3000/events/">
            <span class="educate-icon educate-miscellanous icon-wrap"></span> 
            <span class="mini-click-non">People Invited</span>
           </a>
        </li>
        <li>
          <a href="http://localhost:3000/events/">
             <span class="educate-icon educate-settings icon-wrap sub-icon-mg" aria-hidden="true"></span> 
             <span class="mini-click-non">Event Seting</span>
           </a>
           
        </li>
        <li>
          <a href="http://localhost:3000/events/">
            <span class="fa fa-trash" aria-hidden="true"></span>  
            <span class="mini-click-non">Trash Event</span>
           </a>
        </li>
        <li>
          <a href="http://localhost:3000/events/">
            <span class="fa fa-plus" aria-hidden="true"></span>  
            <span class="mini-click-non">New Category</span>
           </a>
        </li>
 
      </ul>
    </nav>
  </div>
</nav>