<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Youtube</title>

    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/component.css" rel="stylesheet">
    <link href="css/green.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/docs.theme.min.css">

    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl-arrows.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- javascript -->



    <!-- HTML5 s9him and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
 
  </head>
  <body class="cbp-spmenu-push cbp-spmenu-push-toright green">
    <header id="header">
      <div class="container-fulid">
        <div class="col-md-2 col-sm-3 col-xs-3">
          <a href="#" id="showLeftPush" class="open active" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </a>
          <strong class="logo">
            <a href="#"><img src="images/logo.png" class="img-responsive"></a>
          </strong>
        </div>
        <div class="col-md-7 col-sm-6 col-xs-6">
          <form class="form-inline search-form display-none">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="">
                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i> <span>Search</span></div>
              </div>
            </div>
          </form>
          <form action="" class="in-mobile">
            <input type="search">
            <i class="fa fa-search fa-search-icon-style"></i>
          </form>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
          <button class="btn btn-default btn btn-upload" type="submit">Upload</button>
          <a class="btn btn-default btn-signin" href="#" role="button">Sign In</a>
        </div>
        <div class="icon-mobile-menu">
          <nav class="navarea inner-icon-mobile-menu" >
            <ul>
              <li><a href="#"><i class="fa fa-home" aria-hidden="true"> </i></a></li>
              <li><a href="#"><i class="fa fa-users" aria-hidden="true"> </i></a></li>
              <li><a href="#"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-history" aria-hidden="true"> </i></a></li>
              <li><a href="#"><i class="fa fa-history" aria-hidden="true"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="towcolumns main-page">
      <aside class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left cbp-spmenu-open" id="cbp-spmenu-s1" >
        <nav class="navarea" >
          <ul>
            <li class="active">
              <a href="index.html">
                <i class="fa fa-home" aria-hidden="true"> </i><span class="side-nave-span">Home</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-users" aria-hidden="true"> </i><span>Liked Events</span>
              </a>
            </li>
            <li>
              <a href="grid-view.html">
                <i class="fa fa-caret-square-o-right" aria-hidden="true"></i><span>Khatabs</span>
              </a>
            </li>
            <li>
              <a href="islamic-books-libaray.html">
                <i class="fa fa-history" aria-hidden="true"> </i><span>Islamic Books</span>
              </a>
            </li>
            <li>
              <a href="lyireus-naats.html">
                <i class="fa fa-history" aria-hidden="true"></i><span>Naats</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>  
      <div  id="content" class="left-close-side-bar">
        <div class="banner">

        </div>
        <div class="colums-holder">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="palyer-container  big-event">
                <h2>Latest Events</h2>
                <div class="row">
                  <div class="col-md-7 col-sm-7 col-xs-12 p-right-0">
                    <div class="player-mole">
                      <div class="player-image">
                        <img src="images/video-list-image.png" class="img-responsive" alt="Video images">
                      </div>
                      <strong class="video-title">House No 16 street no 2 Madni Chowk data Naghar lahore </strong>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-5 col-xs-12 text-right">
                    <ul class="video-list">
                      <li>
                        <a href="#">
                          <div class="row">
                            <div class="col-xs-4 col-md-3 p-right-0">
                              <img src="images/14.jpg" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-md-8  text-left">
                             <strong class="video-title">House No 16 street no 2 Madni Chowk data Naghar lahore</strong>
                              <p>by Every Interaction</p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="row">
                            <div class="col-xs-4 col-md-3 p-right-0">
                              <img src="images/12.jpg" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-md-8  text-left">
                             <strong class="video-title">House No 16 street no 2 Madni Chowk data Naghar lahore</strong>
                              <p>by Every Interaction</p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="row">
                            <div class="col-xs-4 col-md-3 p-right-0">
                              <img src="images/31.jpg" class="img-responsive">

                            </div>
                            <div class="col-xs-8 col-md-8  text-left">
                             <strong class="video-title">Heart shaped leaf floating</strong>
                              <p>by Every Interaction</p>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
               <div class="colums-holder">
              <div class="col-md-12 col-sm-12 col-xs-12 trending-wrap">
                <div class="border-bottom slider">
                  <h2>Featured Videos</h2>
                  <nav class="all-videos">
                    <div class="draggable">
                      <!--  Demos -->
                      <section id="demos">
                        <div class="row">
                          <div class="large-12 columns">
                            <div class="owl-carousel owl-theme owl-loaded owl-drag">
                             <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 1.5s ease 0s; width: 2376px;">
                                   <div class="owl-item active" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all pinkish-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="owl-item active" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all perpel-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="owl-item active" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all blueish-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="owl-item active" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all orange-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="owl-item active" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all pinkish-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="owl-item" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all perpel-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="owl-item" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all blueish-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="owl-item" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all orange-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="owl-item" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all pinkish-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="owl-item" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all perpel-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="owl-item" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all blueish-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="owl-item" style="width: 178px; margin-right: 20px;">
                                      <div class="item">
                                         <div class="video-all orange-color">
                                            <a href="#">
                                              <div class="image-holder">
                                                <img src="images/31.jpg" class="img-responsive" alt>
                                              </div>
                                              <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                                              <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                                            </a>
                                          </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                           </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </nav>
                </div>
                <div class="border-bottom slider">
                  <h2>Video Set 1</h2>
                  <nav class="all-videos">
                    <ul class="row video-align-center">
                      <li class="col-md-3 col-sm-6 col-xs-12">
                        <div class="video-all transparent-back">
                          <a href="#">
                            <div class="image-holder">
                              <img src="images/58.jpg" class="img-responsive" alt>
                            </div>
                            <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                            <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                          </a>
                        </div>
                      </li>
                       <li class="col-md-3 col-sm-6 col-xs-12">
                        <div class="video-all transparent-back">
                          <a href="#">
                            <div class="image-holder">
                              <img src="images/58.jpg" class="img-responsive" alt>
                            </div>
                            <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                            <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                          </a>
                        </div>
                      </li>
                      <li class="col-md-3 col-sm-6 col-xs-12">
                        <div class="video-all transparent-back">
                          <a href="#">
                            <div class="image-holder">
                              <img src="images/62.jpg" class="img-responsive" alt>
                            </div>
                            <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                            <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                          </a>
                        </div>
                      </li>
                      <li class="col-md-3 col-sm-6 col-xs-12">
                        <div class="video-all transparent-back">
                          <a href="#">
                            <div class="image-holder">
                              <img src="images/65.jpg" class="img-responsive" alt>
                            </div>
                            <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                            <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="border-bottom slider">
                  <h2>Video Set 2</h2>
                  <nav class="all-videos">
                    <ul class="row video-align-center">
                      <li class="col-md-3 col-sm-6 col-xs-12">
                        <div class="video-all transparent-back">
                          <a href="#">
                            <div class="image-holder">
                              <img src="images/71.jpg" class="img-responsive" alt>
                            </div>
                            <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                            <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                          </a>
                        </div>
                      </li>
                      <li class="col-md-3 col-sm-6 col-xs-12">
                        <div class="video-all transparent-back">
                          <a href="#">
                            <div class="image-holder">
                              <img src="images/76.jpg" class="img-responsive" alt>
                            </div>
                            <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                            <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                          </a>
                        </div>
                      </li>
                      <li class="col-md-3 col-sm-6 col-xs-12">
                        <div class="video-all transparent-back">
                          <a href="#">
                            <div class="image-holder">
                              <img src="images/79.jpg" class="img-responsive" alt>
                            </div>
                            <strong class="title">Beetle gets fixed in a garage (EXCLUSIVE VIDEO)</strong>
                            <span class="author">by Every Interaction <i class="fa fa-check-square" aria-hidden="true"></i></span>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  
    <!-- vendors -->
  <!-- <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script> -->
  <!-- <script src="js/slick.js" type="text/javascript" charset="utf-8"></script> -->
      <script src="js/jquery.min.js"></script>
    <script src="js/owl.carousel.js"></script>
  <script src="js/main-jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/modernizr.custom.js"></script>
  <script src="js/classie.js"></script>
  <style type="text/css">
    .fixed-header {
      position: fixed;
      top: 0;
      left: 0;
      float: left;
      width: 100% !important;
    }
  </style>
  <script>

    $(window).scroll(function(){
      if ($(window).scrollTop() >= 1) {
        $('#header').addClass('fixed-header');
      }
      else {
        $('#header').removeClass('fixed-header');
      }
    });

  </script>


  <script>
    $(document).ready(function() {
      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: true
          },
          600: {
            items: 3,
            nav: false
          },
          1000: {
            items: 4,
            nav: true,
            loop: false,
            margin: 20
          }
        }
      })
    })
  </script>


  </body>
</html>