<div class="single-pro-review-area mt-t-30 mg-b-15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="product-payment-inner-st">
          <ul id="myTabedu1" class="tab-review-design">
            <li class="active"><a href="#description">Presnal Details</a></li>
            <li><a href="#reviews"> Adderss Information</a></li>
            <li><a href="#INFORMATION">Social Information</a></li>
          </ul>
          <%= form_for :events,:url=>{:controller=>"events",:action=>"signup"},:html=>{:id=>"signup_form"} do |f|%>
            ...
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  
#dropzone1  input[type="file"] {
      display: block;
    height: 180px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#demo1-upload {
  position: relative;
  float: left;
  width: 100%;
}
.imageThumb {
  max-height: 200px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
  width: 100%;
  background-size: cover;
}
.pip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
}

</style>


z
<script>
    var $imageupload = $('.imageupload');
    $imageupload.imageupload();

    $('#imageupload-reset').on('click', function() {
        $imageupload.imageupload('reset');
        $(this).blur();
    });
</script>


