<div class="tabsarea">
  <div role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab_content3" id="New_event" role="tab" data-toggle="tab" aria-expanded="true">New Event</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="tab_content3" aria-labelledby="New_event">
        <%= render partial: "events/forms/new_event_form" %>
      </div>
    </div>
  </div>
</div>