.left-video-block {
	width: 70%;
	float: left;
}

.right-list-block {
	width: 30%;
	float: left;
}

.like-share-block {
	width: 100%;
	display: flex;
	margin: 0 0 40px;
}

.like-share-block a {
	text-decoration: none;
}

.views {
	width: 60%;
	display: flex;
}

.views p {
	font-size: 16px;
	line-height: 19px;
	margin: 0;
}

.like-share-inner {
	width: 40%;
	display: flex;
	justify-content: flex-end;
}

.like-share-inner .like,
.like-share-inner .dislike,
.like-share-inner .share {
	position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  margin: 0 40px 0 0;
}

.like-share-inner .like:hover .i-like-this,
.like-share-inner .dislike:hover .i-dislike-this,
.like-share-inner .share:hover .i-share-this {
	visibility: visible;
}

.i-like-this {
	visibility: hidden;
  width: 60px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 3px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 51px;
  margin-left: -60px;
}

.i-dislike-this {
	visibility: hidden;
  width: 77px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 3px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 35px;
  margin-left: -60px;
}

.i-share-this {
	visibility: hidden;
  width: 47px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 3px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 0;
}

.i-like-this p,
.i-dislike-this p,
.i-share-this p {
  font-size: 12px;
  color: #fff;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

.like-share-inner .like a.active,
.like-share-inner .dislike a.active,
.like-share-inner .share a.active {
	color: #065FD4;
}

.applicant-details-dorpdown .applicant-details-btn .fa {
  font-size: 19px;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  background: lightgrey;
  display: inline-block;
  float: left;
  margin: 0 20px 0 0;
}

.head .title {
	line-height: 40px;
	display: block;
}

span.published-date {
	font-size: 12px;
	line-height: 0;
	color: hsla(0, 0%, 7%, 0.6);
	display: block;
}

.title-area-nav-tabs {
	width: 100%;
	float: left;
	padding: 24px 0;
}

.p-l-20 {
	padding-left: 25px;
}

.title-area-nav-tabs ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  border: none;
}

.title-area-nav-tabs>.nav-tabs>li {
	z-index: 1;
}

.title-area-nav-tabs>.nav-tabs>li.active {
	z-index: 2;
}


.title-area-nav-tabs>.nav-tabs>li {
  margin: 0 3em;
  position: relative;
  display: block;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.title-area-nav-tabs>.nav-tabs>li>a {
  overflow: visible;
  margin: 0 -3em 0 0;
  padding: 0;
  color: #000;
  font-weight: 500;
  border: none;
}

.title-area-nav-tabs>.nav-tabs>li:first-child {
  margin-left: 0;
}

svg:not(:root) {
  overflow: hidden;
}

.title-area-nav-tabs svg use {
  pointer-events: auto;
}

.title-area-nav-tabs .active a span {
  background: #2CC185;
  color: #fff;
}

.title-area-nav-tabs .active a svg {
  fill: #2CC185;
}

.title-area-nav-tabs svg {
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  width: 3em;
  height: 100%;
  fill: #bdc2c9;
}

.title-area-nav-tabs li a span {
  display: block;
  overflow: hidden;
  padding: 0.65em 0;
  background-color: #bdc2c9;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title-area-nav-tabs svg:nth-child(2), .title-area-nav-tabs:last-child a svg {
    right: 100%;
    left: auto;
    -webkit-transform: scale3d(-1,1,1);
    transform: scale3d(-1,1,1);
}

/*hide show button*/
#myButton {
	color: hsla(0, 0%, 7%, 0.6);
	font-size: 14px;
	line-height: 17px;
	background: transparent;
	border: none;
	outline: none;
}

.hide {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.this-will-not-be-read {
   display: none;
}

.display-block {
	display: block;
}

.display-block .link-blue-color {
  color: #699EE5;
  text-decoration: none;
}

.border-bottom-none {
	box-shadow: none;
}

/*comment-section start*/

.comment-section {
	width: 100%;
	float: left;
}

.comment-heading {
	width: 100%;
	display: flex;
	margin: 0 0 35px;
}

.comment-heading h2 {
	margin: 0 32px 0 0;
}

.comment-heading .short-by {
	text-decoration: none;
	color: #606060;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .007px;
  text-transform: uppercase;
}

.comment-heading .short-by img {
	margin-right: 10px;
}

.comment-heading .applicant-details-dorpdown .dropdown-menu {
 left: 0;
 width: 160px;
}

.comment-heading .applicant-details-dorpdown .dropdown-menu:after,
.comment-heading .applicant-details-dorpdown .dropdown-menu:before {
 border: none;
}

.comment-section input[type=text], select, textarea {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #919191;
  box-sizing: border-box;
  margin-bottom: 8px;
  resize: none;
  outline: none;
  font-size: 14px;
}

.comment-box {
	width: 100%;
	float: left;
	margin: 0 0 35px;
}

.comment-box .user-image {
	width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  background: lightgrey;
  display: inline-block;
  float: left;
  margin: 0 20px 0 0;
}

.form-textarea {
  display: inline-block;
  width: 90%;
  float: left;
}

.submit-button {
	float: right;
	color: #fff;
	background: grey;
	font-family: "Arial";
	font-weight: 600;
	padding: 14px 18px;
	border: none;
	font-size: 16px;
}

.cancle {
	float: right;
	color: #606060;
	font-family: "Arial";
	background: none;
	padding: 14px 18px;
	border: none;
	font-size: 16px;
	margin: 0 40px 0 0;
	font-weight: 600;
}

.older-user-comments {
	width: 100%;
	float: left;
}

.user-written-comment {
	width: 90%;
	float: left;
}

.older-comment {
	display: flex;
  align-items: flex-start;
  margin: 0 0 25px;
}

.older-comment .user-image {
	width: 43px;
	height: 43px;
}

.older-user-comments h4,
.older-user-comments span {
	margin: 0;
	display: inline-block;
	font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 5px;
}

.older-user-comments p {
	margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 15px;
}

.like-dislike-comment {
	width: 100%;
	float: left;
}

.like-dislike-comment .like,
.like-dislike-comment .dislike {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  margin: 0 20px 0 0;
  color: #606060;
}

.like-dislike-comment .like a,
.like-dislike-comment .dislike a {
  text-decoration: none;
}

.like-share-inner .like a.active,
.like-share-inner .dislike a.active {
	color: #065FD4;
}

.reply-btn {
	border: none;
	background: none;
	color: #606060;
	font-size: 14px;
	text-transform: uppercase;
}



/*mobile view start*/

@media screen and (max-width: 767px) {
	.like-share-block {
		flex-direction: column;
	}
	.views {
    width: 100%;
    margin: 0 0 20px;
	}
	.like-share-inner {
		width: 100%;
		justify-content: flex-start;
	}
	.p-l-20 {
		padding: 0;
	}
}